# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# Testing
.pytest_cache/

# Environment variables
.env

# VS Code settings
.vscode/

# Terraform files
.terraform/
*.tfstate
*.tfstate.backup